details {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.sponsor-row {
  display: flex;
  align-items: center;
}

.accent {
  color: #368b86;
}

.accent2 {
  color: #503b66;
}

.red {
  color: #9F2936;
}

.logo {
    border-radius: 20px;
}

.table-wrapper {
  overflow-x: auto;
  white-space: nowrap;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.headshot {
  max-width: 120px;
  border-radius: 50%;
  margin-right: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.gallery img {
  flex-grow: 1;
  flex-basis: 120px;
  max-width: 220px;
  margin: 5px;
  border-radius: 5pt;
  width: 100%;
}

.bio p {
  margin-bottom: 0px;
}

.schedule th {
  display: none;
}

.two-column {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.gold-sponsor {
  text-decoration: underline;
  text-decoration-color: #FFD700;
  text-decoration-thickness: 3px;
}

.silver-sponsor {
  text-decoration: underline;
  text-decoration-color: #C0C0C0;
  text-decoration-thickness: 3px;
}

.bronze-sponsor {
  text-decoration: underline;
  text-decoration-color: #CD7F32;
  text-decoration-thickness: 3px;
}

.gold-sponsor-logo {
  max-width: 250px;
  max-height: 50px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.silver-sponsor-logo {
  max-width: 200px;
  max-height: 40px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.bronze-sponsor-logo {
  max-width: 150px;
  max-height: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media print, screen and (max-width: 720px) {
  .two-column {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }

  .row {
    display: block;
  }

  .sponsor-row {
    display: block;
  }
}
